In [31]:
import numpy as np
import pandas as pd

In [61]:
### Import data
df = pd.read_csv("data/stem.csv")

### Filter data
df = df[df['EMPLOYED'] == 1]
df.drop(columns=['EMPLOYED', 'CaseID', 'weight', 'RECONA_col', 'RECONB_col', 'RECONC_col'], inplace=True)

### Select which columns to keep
# columns_to_keep = ['TEACHSTEM','WORKTYPE_FINAL', 'Xparent', 'ppagect4', 'EDUC4CAT', 'RACE_col', 
#                    'PPGENDER', 'HH_INCOME_col', 'PPREG4', 'ETHN1', 'IDEO', 'HARASS1', 'HARASS2', 
#                    'HARASS3', 'TECH3', 'TECH6']
columns_to_keep = df.columns
# df = pd.DataFrame(df, columns=columns_to_keep)

In [62]:
df

,WORK_1,WORK_2,WORK_3,WORK_4,FULLPART,SELFEMPLOYED,OCCUPATION_col,INDUSTRY_col,TEACHSTEM,WORKTYPE_FINAL,...,DEGREE2_otherstem,DEGREE2_othernonstem,STEM_DEGREE,SCICOUR2_t,MATHCOUR2_t,PPT017_t,PPT18OV_t,PPHHSIZE_t,EDUC4CAT,RACE_col
0,1,2,2,2,1,2,3,9,8,1,...,,,2,1,1,0,1,1,3,1
1,1,2,2,2,1,2,5,12,8,1,...,0,0,1,12,8,2,2,4,4,1
2,2,1,2,2,2,2,19,15,8,2,...,,,1,98,98,0,2,2,3,3
3,1,2,2,1,1,1,9,15,1,1,...,0,0,1,15,6,0,2,2,4,1
4,2,2,2,1,2,1,2,10,8,2,...,0,1,2,3,3,0,2,2,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4909,1,2,2,2,1,2,12,16,8,1,...,,,9,99,99,1,2,3,2,1
4910,1,2,2,2,1,2,12,16,8,1,...,0,0,1,2,2,0,3,3,4,1
4911,1,2,2,2,1,2,3,12,8,1,...,,,1,98,98,2,3,5,3,1
4912,2,1,2,2,2,2,11,16,8,1,...,0,0,1,98,98,1,3,4,4,3
4913,2,1,2,1,2,1,12,16,8,1,...,,,1,98,98,0,2,2,2,1

In [64]:
### Purge empty values and 9s
# df = df.astype(float) # change to float so we can insert nans (mark for removal)
df = df.replace([' ', '', 9],[np.nan, np.nan, np.nan])
df = df.interpolate()

In [65]:
newdf_columns = []
for column, any_nan in zip(df.columns, df.isna().any()):
    if any_nan == False:
        newdf_columns.append(column)
newdf_columns
df = df[newdf_columns]

In [66]:
df

,WORK_1,WORK_2,WORK_3,WORK_4,FULLPART,SELFEMPLOYED,OCCUPATION_col,INDUSTRY_col,TEACHSTEM,WORKTYPE_FINAL,...,HH_INCOME_col,PPMARIT,PPMSACAT,PPREG4,SCH1_OE1_col,PPT017_t,PPT18OV_t,PPHHSIZE_t,EDUC4CAT,RACE_col
0,1.0,2.0,2.0,2.0,1.0,2.0,3,9,8.0,1.0,...,4.0,5.0,1.0,4.0,103.0,0.0,1.0,1.0,3.0,1.0
1,1.0,2.0,2.0,2.0,1.0,2.0,5,12,8.0,1.0,...,5.0,1.0,1.0,4.0,101.0,2.0,2.0,4.0,4.0,1.0
2,2.0,1.0,2.0,2.0,2.0,2.0,19,15,8.0,2.0,...,5.0,1.0,1.0,4.0,101.0,0.0,2.0,2.0,3.0,3.0
3,1.0,2.0,2.0,1.0,1.0,1.0,9,15,1.0,1.0,...,5.0,1.0,1.0,3.0,102.0,0.0,2.0,2.0,4.0,1.0
4,2.0,2.0,2.0,1.0,2.0,1.0,2,10,8.0,2.0,...,5.0,1.0,1.0,4.0,108.0,0.0,2.0,2.0,4.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4909,1.0,2.0,2.0,2.0,1.0,2.0,12,16,8.0,1.0,...,2.0,2.0,1.0,4.0,999.0,1.0,2.0,3.0,2.0,1.0
4910,1.0,2.0,2.0,2.0,1.0,2.0,12,16,8.0,1.0,...,5.0,5.0,1.0,3.0,102.0,0.0,3.0,3.0,4.0,1.0
4911,1.0,2.0,2.0,2.0,1.0,2.0,3,12,8.0,1.0,...,4.0,1.0,0.0,3.0,102.0,2.0,3.0,5.0,3.0,1.0
4912,2.0,1.0,2.0,2.0,2.0,2.0,11,16,8.0,1.0,...,5.0,1.0,1.0,4.0,102.0,1.0,3.0,4.0,4.0,3.0
4913,2.0,1.0,2.0,1.0,2.0,1.0,12,16,8.0,1.0,...,3.0,1.0,1.0,2.0,103.0,0.0,2.0,2.0,2.0,1.0

In [68]:
### Cast everything as integers (empty --> NaN)
df = df.astype(int)

### Remapping values for columns with valuable adjacency
adj_cols = ['ETHN1', 'HARASS1', 'HARASS2']
df.replace({'ETHN1':{1:1, 2:-1, 3:0}}, inplace=True)
df.replace({'HARASS1':{1:2, 2:1, 3:0}}, inplace=True)
df.replace({'HARASS2':{1:2, 2:1, 3:0}}, inplace=True)

### Remapping values for label columns
label_cols = ['TECH3', 'TECH6']
df.replace({'TECH3':{1:2, 2:1, 3:0}}, inplace=True)
df.replace({'TECH6':{1:2, 2:1, 3:0}}, inplace=True)

### Creating 1hot encoding for the rest
onehot_cols = [elem for elem in df.columns if elem not in adj_cols+label_cols]
print(onehot_cols)

for col in onehot_cols:
    values = set(df[col])
    for value in values:
        df[f'{col}-{value}'] = [1 if elem == value else 0 for elem in df[col]]

df.drop(columns=onehot_cols, inplace=True)

### Export data to CSV
df.to_csv('data/stem_processed_all.csv', index=False)

df

['WORK_1', 'WORK_2', 'WORK_3', 'WORK_4', 'FULLPART', 'SELFEMPLOYED', 'OCCUPATION_col', 'INDUSTRY_col', 'TEACHSTEM', 'WORKTYPE_FINAL', 'SCH2a', 'SCH2b', 'SCH3a', 'SCH3b', 'SCH3c', 'SCH3d', 'SCH4', 'SCH5a', 'SCH5b', 'SCH5c', 'SCH6a', 'SCH6b', 'SCH6c', 'SCH6d', 'SCH6e', 'SCH6f', 'SCH6g', 'SCH6h', 'SCH7', 'SCH8a', 'SCH8b', 'SCH10_flag', 'JOBVALU1_1', 'JOBVALU1_2', 'JOBVALU1_3', 'JOBVALU1_4', 'JOBVALU1_5', 'JOBVALU1_6', 'JOBVALU1_7', 'JOBVALU1_8', 'JOBVALU1_Refused', 'AHEADa', 'AHEADb', 'AHEADc', 'AHEADd', 'AHEADe', 'AHEADf', 'AHEADg', 'TALENT', 'FAMSTEM1', 'STEMJOBa', 'STEMJOBb', 'STEMJOBc', 'STEMJOBd', 'STEMJOBe', 'STEMJOBf', 'STEMJOBg', 'STEMJOBh', 'DOV_FORM', 'REASON1a', 'REASON1b', 'REASON1c', 'REASON1d', 'REASON1e', 'REASON1f', 'REASON1g', 'REASON2a', 'REASON2b', 'REASON2d', 'REASON2e', 'REASON2f', 'REASON2g', 'TECH1', 'TECH2', 'TECH4', 'TECH5', 'GEND1', 'GEND2', 'GEND3', 'GEND4', 'GEND5', 'ETHN2a', 'ETHN2b', 'ETHN2c', 'ETHN2d', 'ETHN3a', 'ETHN3b', 'ETHN3c', 'ETHN3d', 'ETHN4', 'ETHN5', 'GENDJOB1', 'ETHNJOB1', 'GENDDISC_a', 'GENDDISC_b', 'GENDDISC_c', 'GENDDISC_d', 'GENDDISC_e', 'GENDDISC_f', 'GENDDISC_g', 'GENDDISC_h', 'GENDDISC_i', 'GENDDISC_Refused', 'ETHNDISC_a', 'ETHNDISC_b', 'ETHNDISC_c', 'ETHNDISC_d', 'ETHNDISC_e', 'ETHNDISC_f', 'ETHNDISC_g', 'ETHNDISC_h', 'ETHNDISC_i', 'ETHNDISC_Refused', 'HARASS3', 'VOTECH', 'PARTY', 'IDEO', 'XSPANISH', 'Xparent', 'PPCM1301_col', 'PPCM0166', 'ppagecat', 'ppagect4', 'PPETHM', 'PPGENDER', 'PPHHHEAD', 'HH_INCOME_col', 'PPMARIT', 'PPMSACAT', 'PPREG4', 'SCH1_OE1_col', 'PPT017_t', 'PPT18OV_t', 'PPHHSIZE_t', 'EDUC4CAT', 'RACE_col', 'WORK_1-1', 'WORK_1-2', 'WORK_2-1', 'WORK_2-2', 'WORK_3-1', 'WORK_3-2', 'WORK_4-1', 'WORK_4-2', 'FULLPART-1', 'FULLPART-2', 'SELFEMPLOYED-1', 'SELFEMPLOYED-2', 'OCCUPATION_col-1', 'OCCUPATION_col-2', 'OCCUPATION_col-3', 'OCCUPATION_col-4', 'OCCUPATION_col-5', 'OCCUPATION_col-6', 'OCCUPATION_col-8', 'OCCUPATION_col-9', 'OCCUPATION_col-10', 'OCCUPATION_col-11', 'OCCUPATION_col-12', 'OCCUPATION_col-13', 'OCCUPATION_col-14', 'OCCUPATION_col-15', 'OCCUPATION_col-16', 'OCCUPATION_col-17', 'OCCUPATION_col-18', 'OCCUPATION_col-19', 'OCCUPATION_col-22', 'OCCUPATION_col-24', 'OCCUPATION_col-27', 'OCCUPATION_col-29', 'INDUSTRY_col-1', 'INDUSTRY_col-3', 'INDUSTRY_col-4', 'INDUSTRY_col-5', 'INDUSTRY_col-6', 'INDUSTRY_col-7', 'INDUSTRY_col-8', 'INDUSTRY_col-9', 'INDUSTRY_col-10', 'INDUSTRY_col-11', 'INDUSTRY_col-12', 'INDUSTRY_col-15', 'INDUSTRY_col-16', 'INDUSTRY_col-17', 'INDUSTRY_col-18', 'INDUSTRY_col-19', 'INDUSTRY_col-20', 'INDUSTRY_col-22', 'INDUSTRY_col-99', 'TEACHSTEM-8', 'TEACHSTEM-1', 'TEACHSTEM-2', 'WORKTYPE_FINAL-1', 'WORKTYPE_FINAL-2', 'SCH2a-1', 'SCH2a-2', 'SCH2a-3', 'SCH2b-1', 'SCH2b-2', 'SCH2b-3', 'SCH3a-1', 'SCH3a-2', 'SCH3a-3', 'SCH3a-4', 'SCH3b-1', 'SCH3b-2', 'SCH3b-3', 'SCH3b-4', 'SCH3c-1', 'SCH3c-2', 'SCH3c-3', 'SCH3c-4', 'SCH3d-1', 'SCH3d-2', 'SCH3d-3', 'SCH3d-4', 'SCH4-1', 'SCH4-2', 'SCH4-3', 'SCH4-4', 'SCH5a-1', 'SCH5a-2', 'SCH5a-3', 'SCH5a-4', 'SCH5b-1', 'SCH5b-2', 'SCH5b-3', 'SCH5b-4', 'SCH5c-1', 'SCH5c-2', 'SCH5c-3', 'SCH5c-4', 'SCH6a-1', 'SCH6a-2', 'SCH6a-3', 'SCH6b-1', 'SCH6b-2', 'SCH6b-3', 'SCH6c-1', 'SCH6c-2', 'SCH6c-3', 'SCH6d-1', 'SCH6d-2', 'SCH6d-3', 'SCH6e-1', 'SCH6e-2', 'SCH6e-3', 'SCH6f-1', 'SCH6f-2', 'SCH6f-3', 'SCH6g-1', 'SCH6g-2', 'SCH6g-3', 'SCH6h-1', 'SCH6h-2', 'SCH6h-3', 'SCH7-1', 'SCH7-2', 'SCH7-3', 'SCH7-4', 'SCH8a-1', 'SCH8a-2', 'SCH8b-1', 'SCH8b-2']

,TECH3,TECH6,ETHN1,HARASS1,HARASS2,SCH10_flag-0,SCH10_flag-1,JOBVALU1_1-0,JOBVALU1_1-1,JOBVALU1_2-0,...,SCH7-4-0,SCH7-4-1,SCH8a-1-0,SCH8a-1-1,SCH8a-2-0,SCH8a-2-1,SCH8b-1-0,SCH8b-1-1,SCH8b-2-0,SCH8b-2-1
0,1,1,0,0,0,1,0,1,0,0,...,1,0,1,0,0,1,1,0,0,1
1,1,2,0,0,2,1,0,1,0,0,...,1,0,0,1,1,0,0,1,1,0
2,1,1,-1,0,0,1,0,1,0,0,...,1,0,0,1,1,0,0,1,1,0
3,1,2,0,2,9,1,0,1,0,0,...,1,0,0,1,1,0,0,1,1,0
4,2,2,1,2,0,1,0,1,0,0,...,1,0,0,1,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4909,2,2,0,2,2,0,1,0,1,1,...,1,0,0,1,1,0,0,1,1,0
4910,2,2,0,2,0,0,1,0,1,0,...,0,1,0,1,1,0,0,1,1,0
4911,2,2,0,0,0,0,1,0,1,0,...,1,0,0,1,1,0,0,1,1,0
4912,1,2,-1,0,0,0,1,1,0,0,...,1,0,0,1,1,0,0,1,1,0
4913,2,0,0,0,0,0,1,1,0,0,...,1,0,0,1,1,0,0,1,1,0