In [12]:
import numpy as np
import pandas as pd

In [88]:
### Import data
df = pd.read_csv("data/stem.csv")

### Filter data
df = df[df['EMPLOYED'] == 1]
df.drop(columns='EMPLOYED', inplace=True)

### Select which columns to keep
columns_to_keep = ['TEACHSTEM','WORKTYPE_FINAL', 'Xparent', 'ppagect4', 'EDUC4CAT', 'RACE_col', 
                   'PPGENDER', 'HH_INCOME_col', 'PPREG4', 'IDEO', 'HARASS1', 'HARASS2', 'HARASS3', 
                   'TECH3', 'TECH6', 'ETHN1']
df = pd.DataFrame(df, columns=columns_to_keep)

### Purge empty values and 9s
df = df.astype(float) # change to float so we can insert nans (mark for removal)
df = df.replace([' ', '', 9],[np.nan, np.nan, np.nan])
df = df.dropna()

### Cast everything as integers (empty --> NaN)
df = df.astype(int)

### Remapping values for columns with valuable adjacency
adj_cols = ['ETHN1', 'HARASS1', 'HARASS2']
df.replace({'ETHN1':{1:1, 2:-1, 3:0}}, inplace=True)
df.replace({'HARASS1':{1:2, 2:1, 3:0}}, inplace=True)
df.replace({'HARASS2':{1:2, 2:1, 3:0}}, inplace=True)

### Creating 1hot encoding for the rest
onehot_cols = [elem for elem in columns_to_keep if elem not in adj_cols]

for col in onehot_cols:
    values = set(df[col])
    for value in values:
        df[f'{col}-{value}'] = [1 if elem == value else 0 for elem in df[col]]

df.drop(columns=onehot_cols, inplace=True)

### Export data to CSV
df.to_csv('data/stem_processed.csv', index=False)

df

,HARASS1,HARASS2,ETHN1,TEACHSTEM-8,TEACHSTEM-1,TEACHSTEM-2,WORKTYPE_FINAL-1,WORKTYPE_FINAL-2,Xparent-1,Xparent-2,...,IDEO-4,IDEO-5,HARASS3-1,HARASS3-2,TECH3-1,TECH3-2,TECH3-3,TECH6-1,TECH6-2,TECH6-3
0,0,0,0,1,0,0,1,0,0,1,...,0,1,0,1,1,0,0,1,0,0
1,0,1,0,1,0,0,1,0,1,0,...,1,0,0,1,1,0,0,0,1,0
2,0,0,-1,1,0,0,0,1,0,1,...,1,0,0,1,1,0,0,1,0,0
4,1,0,1,1,0,0,0,1,0,1,...,1,0,0,1,0,1,0,0,1,0
6,0,0,0,1,0,0,1,0,0,1,...,1,0,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4908,0,1,1,1,0,0,1,0,0,1,...,0,0,0,1,1,0,0,0,1,0
4910,1,0,0,1,0,0,1,0,0,1,...,0,0,0,1,0,1,0,0,1,0
4911,0,0,0,1,0,0,1,0,1,0,...,1,0,0,1,0,1,0,0,1,0
4912,0,0,-1,1,0,0,1,0,1,0,...,0,1,0,1,1,0,0,0,1,0
4913,0,0,0,1,0,0,1,0,0,1,...,0,0,0,1,0,1,0,0,0,1